html, body {
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  user-select: none;
  overflow: hidden;
  font-size: 14px;
}

header {
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  z-index: 500
}

header a{
  color: #000;
  text-decoration: none
}

#keys>div {
  display: inline-block;
  padding: 0 8px
}

#keys>div span {
  display: block;
  margin: 0 4px 8px
}

#luffy{
  display: none;
  scale: 0.6;
  position: absolute;
  top: -4.8em;
  left: 20em;
  z-index: -1;
  rotate: 1.5deg;
}

#luffyleft{
  display: none;
  scale: 0.6;
  position: absolute;
  top: -8em;
  left: 20em;
  z-index: 1;

  

}
#luffyright{
  display: none;
  scale: 0.6;
  position: absolute;
  top: 1.5em;
  left: 20em;
  z-index: 1;
  rotate: 1.5deg;
  
}

#luffyboth{
  display: none;
  scale: 0.6;
  position: absolute;
  top: 0em;
  left: 20em;
  z-index: 1;
  rotate: 1.5deg;

}






/* Instruments */
#bongo{
  display: none;
  scale: 0.4;
  position: absolute;
  top: 4em;
  left: -2em;
  rotate: 4deg;
  
}
#cymbal{
  display: none;
  scale: 0.35;
  position: absolute;
  top: 5em;
  left: 5em;
  rotate: 4deg;

  
}
#tambourine{
  display: none;
  scale: 0.35;
  position: absolute;
  top: 6em;
  left: 4em;
  rotate: 4deg;

  
}
#keyboard{
  display: none;
  scale: 0.5;
  position: absolute;
  top: 4em;
  left: -4em;
  rotate: 1deg;

  
}
#marimba{
  display: none;
  scale: 0.7;
  position: absolute;
  top: 4.5em;
  left: -5em;
  rotate: 2deg;

}
#cowbell{
  display: none;
  scale: 0.4;
  position: absolute;
  top: 6em;
  left: 6em;
  rotate: 4deg;

  
}


.key {
  display: inline-block !important;
  min-width: 35px;
  height: 35px;
  padding: 4px 0 0 6px;
  background: #f5f5f5;
  border: 2px solid #b3b3b3;
  border-radius: 6px;
  box-shadow: inset -6px -4px 0 0 #ccc;
  text-align: left;
  font-size: 15px
}

.key-wide {
  min-width: 135px !important
}
footer{
  position: absolute;
  left: 5%;
  top: 95%;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 3px;
}
footer a{
  color: rgb(134, 200, 128);
  text-decoration: none;
  font-weight: normal;
  font-size: 1.2rem;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #000 !important;
    color: #fff !important
  }

  header a{
    color: #fff !important
  }


  .key {
    background: #333;
    border: 2px solid #252525;
    box-shadow: inset -6px -4px 0 0 #1b1b1b
  }



}