html, body {
  margin: 0
}

body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  user-select: none;
  overflow: hidden;
  font-size: 14px;
}

header {
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  z-index: 500
}

header a{
  color: #000;
  text-decoration: none
}

#keys>div {
  display: inline-block;
  padding: 0 8px
}

#keys>div span {
  display: block;
  margin: 0 4px 8px
}



.key {
  display: inline-block !important;
  min-width: 35px;
  height: 35px;
  padding: 4px 0 0 6px;
  background: #f5f5f5;
  border: 2px solid #b3b3b3;
  border-radius: 6px;
  box-shadow: inset -6px -4px 0 0 #ccc;
  text-align: left;
  font-size: 15px
}

.key-wide {
  min-width: 135px !important
}



@media (prefers-color-scheme: dark) {
  body {
    background-color: #000 !important;
    color: #fff !important
  }

  header a{
    color: #fff !important
  }


  .key {
    background: #333;
    border: 2px solid #252525;
    box-shadow: inset -6px -4px 0 0 #1b1b1b
  }



}